body {
    font-family: Abel;
    margin:0;
    background-color: #f4f4f4;
    color:#3c3b3b;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a{
    color:black;
    text-decoration: none;
}
a:visited{
    color:black;
}
a:hover{
    font-weight:bold;
    color:rgb(69 185 69);
}
section{
    border-bottom: 2px solid #efefef;
}

.bg_set {
    background-color: #ffff;
    padding: 0 70px 50px 70px;
    width: 100%;
}
.flex_container{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    z-index:1; 
}
.item_align_center{
    -webkit-align-items:center; 
    -moz-align-items:center; 
    align-items:center; 
}
.content_align_center{
    -webkit-justify-content:center;
    -moz-justify-content: center;
    justify-content: center;; 
}
.flex_column{
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    flex-direction:column;
}
.flex_row{
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;
}
.fixed{
    position: fixed;
    z-index:99;
}

.button {
    margin: 50px auto;
    padding: 10px 50px;
    font-size: 1.5em;
    border: 3px solid rgba(0,0,0,0.8);
    border-radius: 15px;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.button a{
    text-decoration: None
}

.button a:hover{
    color: black;
    font-weight: normal;
}

.button .btn_text{
    margin: 0;
    position: relative;
    transition: right 0.5s;
    right:-10px;
}
.button .btn_text:after {
    content:'\00bb';
    margin-left: 10px;
    transition: opacity 0.5s;
    opacity:0;
}
.button:hover .btn_text{
    right:0px;
}
.button:hover .btn_text:after{
    opacity:1;  
}

#left_column{
    width: 35vw;
    top: 0;
    left: 0;
    min-height: 100vh;
    padding: 5em 4em;
    -webkit-align-items:flex-end; 
    -moz-align-items:flex-end; 
    align-items:flex-end;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}
#right_column{
    margin-left: 35vw;
    background-color:#ffff;
    padding: 5em 4em 2em 4em;
}
#menu {
    -webkit-align-items:flex-end; 
    -moz-align-items:flex-end; 
    align-items:flex-end;
    width: 100vw; 
    margin-top: 30px;
    display: None;
}
.menu_item{
    opacity: 0.5;
}
/*
#menu:before {
    content:"";
    display: block;
    height: 1px;
    width: 50%;
    border-top: 1px solid black;
}
#menu:after {
    content:"";
    display: block;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid black;
}
*/
.menu_icon{
    display: None;
}

.menu_list {
    width: 100%;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items:flex-end; 
    -moz-align-items:flex-end; 
    align-items:flex-end;
}

.menu_list a{
    text-decoration: None;
    font-size:1.5em;
    color:black;
    margin: 10px 0px;;
}
/*
#cover_page div h1 {
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: calc((2 - 1) * 1.2vh + 1rem);
}
.cover_background {
    background: url('./material/cover_background.jpg');
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
*/
.covet_page_content {
    width: 100%;
    height: auto;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
}

.cover_text {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end; 
    -moz-justify-content: flex-end; 
    justify-content: flex-end;      
}
.cover_img {
    width:150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("./material/suling_2018.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
/*
.cover_img img {
    width: auto;
    height: 100%;
    border-radius:5%;
}
*/
.cover_text q {
    font-size: 1.3em;
    line-height: 1.5;
    font-style: italic;
    text-align: right;
}
.cover_text q:after {
    position: relative;
    left: -2%;
}
/*
.cover_text div{
    width:100%;
    text-align:right;
    padding-right: 100px;
}
*/
.cover_text p{
    font-style: normal;
    font-size: 1em;
    margin:0;
}
.content_about_me{
    width: 100%
}
.section_header{
    font-size: 3em;
    -webkit-align-items:flex-start; 
    -moz-align-items:flex-start; 
    align-items:flex-start;
}

/*.section_header:after{
    content: "";
    height: 1px;
    width: 50%;
    display: block;
    border-bottom: 3px solid #cccccc;;

}*/

.content_about_me p{
    font-size:1.5em;
}

.item_list{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.background_item_container{
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}
.background_item{
    width: 45%;
    overflow: hidden;
    margin: 10px 10px;
}
.background_item_container .button{
    margin:auto auto;
}
.item_head{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-align-items:center; 
    -moz-align-items:center; 
    align-items:center;  
}
.item_head:after{
    content:"";
    display:block;
    height:1px;
    width:100%;
    border-bottom:2px solid black;
}
.item_head img{
    width: 100%;
    height: auto;
}
.item_head h3{
    font-size: 2em;
}
.item_detail {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-align-items:center; 
    -moz-align-items:center; 
    align-items:center; 
    font-size: 1em;
}
.item_detail ul{
    list-style-type: None;
    text-align: left;
    padding-left: 5px;;
    margin-top: 30px;
}
.item_detail ul li{
    margin-top: 5px;
}   
.item_detail p:nth-child(1){
    margin-top: 30px;
    margin-bottom: 0px;
}  
.item_detail p:nth-child(2){
    text-align:center;
} 
.info_container .item_list{
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
}
.info_item{
    /* overflow: hidden; */
    width: 45%;
    cursor:pointer;
    margin-bottom: 20px;
}
.info_item_image {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
}
.info_item:nth-child(1) .info_item_image {
    background-image: url('./material/awards.jpg');
}
.info_item:nth-child(2) .info_item_image {
    background-image: url('./material/teach.jpg');
}
.info_item:nth-child(3) .info_item_image {
    background-image: url('./material/lecture.jpg');
}
.info_item:nth-child(4) .info_item_image {
    background-image: url('./material/interview_1.jpg');
}
.info_item h3{
    margin: 0;
    transition: all 0.5s;
    position:absolute;
    bottom:0px; 
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,1));
    color: #ffff; 
    font-size: 2em;
    width:100%;
    text-align: center;
    padding: 10px 0;
}
.info_item_text{
    width: 100%;
    position:relative; 
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: #f6eadb9c;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid #0000005c;
    max-height: 100vh;
    padding:0 10px;
}
.info_item_text_closed{
    max-height: 0px;
}
.info_item_text ul{
    text-align:left;
    list-style-type: square;
}
.info_item_text ul li{
    margin: 20px 0px 20px 0px;
    font-size: 1.1em;
}
.info_item_text ul li h4{
    margin: 20px 0 5px 0;
    font-size: 1.15em;
}
.info_item_text ul li h4:nth-child(1){
    margin: 0px 0 5px 0;
}

.info_item_text a{
    text-decoration: None;
}
.info_item_image:hover h3{
    padding-bottom:20px;
}

.video_container .video_player{
    width: 100%;
    height: 50vh;
}
.video_list {

    width: 100%;
    margin-top: 50px;
}
.video_list i{
    font-size: 3em;
    transition: all 0.5s;
    cursor: pointer;
    display: None;
    margin: 0px 10px;
}
.video_list i:hover{
    transform: scale(1.5,1.5);
}
.video_list img{
    width: 10vw;
    height: auto;
    margin: 0 10px;
}
.not_selected{
    opacity:0.5;
    cursor: pointer;
}
.not_on_page{
    display:None;
}
.show_arrow{
    display: inline !important;
}
#lab_gate{
    border:none;
}
.lab_gate_container{
    margin-bottom: 50px;
}
.gate_to_lab{
    width:100%;
    height:75vh;
    background-image: url("./material/lab_image.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    opacity:0.9;
}
.gate_to_lab h3{
    padding: 20px;
    text-shadow: 1px 1px white;
    background-color: rgba(255,255,255,0.3);
    font-size: 2.5em;
    transition: all 0.5s;
    cursor:pointer;
}
.gate_to_lab h3:hover{
    transform: scale(1.2,1.2);
}
.gate_to_lab h3 a{
    text-decoration: None
}
.gate_to_lab h3 a:hover{
    color:black;
}
.contact_list{ 
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

.contact_item{
    font-size: 1em;
    margin-bottom: 10px;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
}
.contact_item div{
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}
.contact_item:nth-child(2) div p {
    margin-right:5px;
}
.contact_item h3{
    margin-right: 10px;
    font-size: 1em;
}
.contact_item i{
    font-size:1.2em;
    margin-right:5px;
}
.contact_item p{
    margin: 0px;
    font-size: 0.9em;
}

#footer{
    display: None;
}

.copyright_info{
    -webkit-align-items:flex-end; 
    -moz-align-items:flex-end; 
    align-items:flex-end;
    font-size: 0.75em;
    text-align: right;
}

.copyright_info p{
    margin: 2px 0px;
}
@media all and (max-width:1220px){
    #left_column{
        width: 30vw;
        padding: 5em 2em;
    }
    #right_column{
        margin-left: 30vw;
        padding: 5em 2em 2em 2em;
    }
    .bg_set {
        padding: 0 35px 50px 35px;
    }
    .cover_text q {
        font-size: 1em;
    }
    .cover_img {
        width:100px;
        height: 100px;
    }
    .content_about_me p {
        font-size: 1.1em;
    }
    .item_head h3 {
        font-size: 2em;
        margin: 20px 0px;
    }
}
@media all and (max-width:1060px){
    .info_container .item_list .info_item ul li{
        font-size: 1em;
    }
    .bg_set {
        padding: 0 0px 50px 0px;
    }
    .gate_to_lab h3{
        font-size:2.5em;
    }
    .gate_to_lab h3:hover{
        transform: scale(1.1,1.1);
    }
}
@media all and (max-width:960px){
    body>div{
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
    }
    #left_column{
        width: 100vw;
        min-height:fit-content;
        min-height:-webkit-fit-content;
        min-height:-moz-fit-content;
        position: static;
    }
    #right_column{
        margin: 0;
        padding: 5em 4em 2em 4em;
    }
    .covet_page_content{
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    }
    .cover_text{
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        width: 60%;
    }
    .cover_text q{
        font-size: 1.5em;
        text-align: center;
    }
    .footer_left{
        display: None;
    }
    .menu_item{ 
        margin: 20px 0 !important;
    }
    .item_list{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    }
    .background_item {
        width: 75%;
    }

    .info_container .item_list .info_item {
        width: 75%;
    }
    .info_container .item_list .info_item ul li {
        font-size: 1.3em;
    }
    .info_container .item_list .info_item ul li ul li{
        font-size: 1em;
    }
    .video_container .video_player {
        width: 75%;
        height: 50vh;
        margin: 0 auto;
    }
    .video_list img {
        width: 15vw;
    }
    .gate_to_lab h3 {
        text-align: center;
        font-size: 2em;
    }
    /*
    .menu_list {
        width: 100%;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;;
        position: absolute;
        left: 0;
        top: 101%;
        margin-left: 0px;
        background-color: rgb(231 209 181);
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
    }
    .menu_icon {
        display: block;
        position: absolute;
        right: 10%;
        cursor: pointer;
        font-size: 2em;
    }
    .Menu_on{
        height:auto;
    }
    */
   #footer{
       display: flex;
       display: -webkit-flex;
       display: -moz-flex;
       padding: 20px 10%;
   }
   .contact_list{
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        justify-content: flex-end;
   }
   .contact_item{
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
   }
   .copyright_info{
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        justify-content: flex-end;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        margin-left: 20px;
        text-align: left;
        max-width:50%
    }
}
@media all and (max-width:600px){
    .cover_text {
        width: 80%;
    }
    #right_column{
        margin: 0;
        padding: 5em 2em 2em 2em;
    }
    .background_item {
        width: 90%;
    }
    .info_container .item_list .info_item {
        width: 90%;
    }
    .video_container .video_player {
        width: 90%;
        height: 50vh;
        margin: 0 auto;
    }
}